---
title: Blog
comments: false
suppress_header: true
description: "Visit the GitLab blog to learn about releases, applications, contributions, news, events, and more."
extra_css:
  - blog-homepage.css
extra_js:
  - blog-home.js
---
// Create list of featured articles uisng both blogs
- featured_blog_articles = blog('blog').articles.keep_if{ |a| a.data.featured}[0...2]
- featured_release_articles = blog('releases').articles.keep_if{ |a| a.data.featured}[0...2]
- featured_articles = [ featured_blog_articles[0..2], featured_release_articles[0..2] ].flatten.compact.sort_by(&:date).reverse

// Create list of non-featured articles uisng both blogs
- non_featured_blog_articles = blog('blog').articles.delete_if{ |a| featured_articles.include?(a) ||  a.data.categories.include?("unfiltered")}
- releases = blog('releases').articles
- non_featured_articles = [ releases[0..12], non_featured_blog_articles[0..12] ].flatten.compact.sort_by(&:date).reverse

.blog.list
  .wrapper
    .section
      = partial "includes/blog/category-nav"

      = partial "includes/newsletter-signup.html"

  = partial "includes/blog/featured-list-without-unfiltered", locals: {articles: featured_articles[0...2]}

  - unless featured_articles.empty?
    .wrapper
      .section
        %h3 Recent Posts

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[0...4]}

  = partial "includes/blog/try"

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[4...8]}

  = partial "includes/blog/install"

  = partial "includes/blog/list-without-unfiltered", locals: {articles: non_featured_articles[8...12]}

  .wrapper
    .section
      %a.browse{href: "/blog/archives.html"} Browse the archives
